
.forum-tag-article{
	padding-bottom: 10px;
	p{
		line-height: $line-height;
	}

}
.forum-tag-create-btn{
	text-align: center;
	padding: 0px 11px;
	height: 31px;
}

.forum-tag-subarticle{
	padding: 10px 0px 0px;
}
.forumtag-discussion-articles{
	padding: 0px 0px 10px;
}
.forumtag-discussion-head{
	padding: 10px 0px;
	margin: auto;
	display: flex;
	.multiplier-symbol, .multiplier-name{
		vertical-align: middle;
		font-size: 12px;
		padding-left: 4px;
		padding-top: 4px;
	}	
	.forum-tag-sec{
		.forum-tag-img{
			img{
				border-radius: 50%;
				width: 50px;
				height: 50px;
				box-shadow: 2px 2px 4px rgba(12,13,14,0.5);
			}
		}
	}
	.forum-tag-details{
		margin-left: 10px;
		width: 100%;
    	overflow: hidden;
		line-height: 1.3;
		.exact-place{
			font-size: 13px;
		}
		.user-tags{
			a{
				color: $font-color;
				font-size: 13px;
			}
		}
	}
}
.tag-col-sec{
	border-bottom: 1px dotted #E4E6E7;
	.forumtag-discussion-head{
		display: inline-block;	
	}
}
.forum-tag-des{
	display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-decoration: none;
    min-height: 80px;
    color: $font-color;
    line-height: $line-height;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    margin-bottom: 0px;
}

//badges

.badge-article{
	padding: 10px 0px;
	border-top: 1px solid #e4e6e8;

}
.badge-container{
	button{
	    overflow: hidden;
    	text-overflow: ellipsis;
    	white-space: nowrap;
    	max-width: 100%;
	}
}
.badge-subarticle{
	@include carousel-content();
}

//users
.forum-tags-line{
	display: flex;
	padding-top: 5px;
	.user-tags{
		a{
			margin-right: 3px;
			padding: 3px;
			background: #f3f5f9;
		}
	}
}